<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      rel="stylesheet"
      href="./css/tablet.css"
      media="screen and (min-width: 768px)"
    />
  </head>
  <body>
    <div class="sidenav" id="mySidenav">
      <a href="javascript:void(0)" id="goback"></a>
      <img src="./images/logo.svg" alt="" class="logo" />
      <ul class="sidenav--list">
        <li><a href="">Inicio</a></li>
        <li><a href="">Programas</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Asesor&iacute;a virtual</a></li>
      </ul>
    </div>
    <header>
      <nav>
        <img src="./icons/hamb_menu.svg" alt="" class="hamb_menu" />
        <img src="./images/logo.svg" alt="" class="header--logo" />
        <ul class="header--navbar">
          <li><a href="">Inicio</a></li>
          <li><a href="">Programas</a></li>
          <li><a href="">Nosotros</a></li>
          <li><a href="">Asesor&iacute;a virtual</a></li>
        </ul>
        <ul class="header--social-branding">
          <li>
            <a href="#"><img src="./icons/facebook.svg" alt="" /></a>
          </li>
          <li>
            <a href="#" id="instagram"
              ><img src="./icons/instagram.svg" alt=""
            /></a>
          </li>
          <li>
            <a href="#" id="linkedin"
              ><img src="./icons/linkedin.svg" alt=""
            /></a>
          </li>

          <li>
            <a href=""><img src="./icons/user.svg" alt="" /></a>
          </li>
        </ul>
      </nav>
      <div class="hero">
        <img src="./images/landing.jpg" alt="" class="header--hero" />
        <div class="header--title-container">
          <h1>
            BUSCANDO EL <span>FORTALECIMIENTO</span> DE LOS
            <span>POTENCIALES</span> HUMANOS
          </h1>
          <a href="#about" class="header--button">Conoce m&aacute;s</a>
        </div>
      </div>
    </header>
    <main>
      <h2>SOBRE NOSOTROS</h2>
      <section class="about" id="about">
        <img src="./images/logo.svg" alt="" class="header--logo" />
        <p>
          Somos una empresa que se enfoca en generar y fortalecer la
          <span>salud emocional y cognitiva</span> a través de la
          reestructuración de hábitos. Proporcionamos herramientas que permiten
          a través del autoconocimiento explotar el <span>potencial</span> de
          cada ser humano, a través del diagnóstico, diseño, coordinación y
          ejecución de programas de intervención. Tenemos
          <span>15 años</span> de experiencia y desde la
          <span>psicología clínica</span>
          hemos aprendido la importancia de la salud emocional y cómo de esta
          depende el comportamiento y desarrollo de
        </p>
        <img src="./icons/person_badge.svg" alt="" class="badge" />
      </section>
      <h2><span>SERVICIOS</span> QUE OFRECEMOS</h2>
      <section class="feature--container">
        <section class="feature">
          <div class="feature--img-container"></div>

          <div class="feature--description-container">
            <h3 class="feature--title">
              Programas <br /><span>psicoterap&eacute;uticos</span>
            </h3>
            <p>
              Son <span>procesos</span> donde a través de diversas herramientas
              nos facilitan la elaboración de
              <span>conflictos</span> emocionales que no permiten que las
              personas lograr gozar de un estado de
              <span>bienestar personal</span>
            </p>
            <a href="#" class="secondary-btn">Conoce m&aacute;s</a>
          </div>
        </section>
        <section class="feature">
          <div class="feature--img-container"></div>

          <div class="feature--description-container">
            <h3 class="feature--title">
              Programas <br /><span>psicoterap&eacute;uticos</span>
            </h3>
            <p>
              Son <span>procesos</span> donde a través de diversas herramientas
              nos facilitan la elaboración de
              <span>conflictos</span> emocionales que no permiten que las
              personas lograr gozar de un estado de
              <span>bienestar personal</span>
            </p>
            <a href="#" class="secondary-btn">Conoce m&aacute;s</a>
          </div>
        </section>
        <section class="feature">
          <div class="feature--img-container"></div>

          <div class="feature--description-container">
            <h3 class="feature--title">
              Programas <br /><span>psicoterap&eacute;uticos</span>
            </h3>
            <p>
              Son <span>procesos</span> donde a través de diversas herramientas
              nos facilitan la elaboración de
              <span>conflictos</span> emocionales que no permiten que las
              personas lograr gozar de un estado de
              <span>bienestar personal</span>
            </p>
            <a href="#" class="secondary-btn">Conoce m&aacute;s</a>
          </div>
        </section>
      </section>
    </main>
    <footer>
      <div class="footer--item">
        <img src="./icons/programs.svg" alt="" />
        <h3 class="footer--item-title">Programas</h3>
        <ul>
          <li>Psicoterap&eacute;uticos</li>
          <li>Empresariales</li>
        </ul>
      </div>
      <div class="footer--item">
        <img src="./icons/phone.svg" alt="" />
        <h3 class="footer--item-title">Cont&aacute;ctanos</h3>
        <ul>
          <li>(+57) 314 565 7611</li>
          <li>info@proyecta.com</li>
        </ul>
      </div>
      <div class="footer--item">
        <img src="./icons/Position.svg" alt="" />
        <h3 class="footer--item-title">Encu&eacute;ntranos</h3>
        <ul>
          <li>Cra 54 #132-120</li>
          <li>Barranquilla</li>
        </ul>
      </div>
    </footer>
    <script src="./index.js"></script>
  </body>
</html>
