/* 
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visuales
5. Otros
*/

:root {
  /* Colores */
  --main-color: #274259;
  --emphasis-orange: #f26d3d;
  --orange-soft: rgba(242, 148, 65, 0.2);
  --gray: #f2f2f2;
  --low-gray: rgba(39, 66, 89, 0.2);
  --anotherEmphashis: #455d73;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: Nunito, sans-serif;
}
main {
  /* background-color: whitesmoke; */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 243, 238, 1) 100%,
    rgba(255, 222, 210, 1) 100%,
    rgba(255, 207, 189, 1) 100%,
    rgba(255, 133, 88, 1) 0%
  );
  padding: 100px 0;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px; /*Dimension mas pequeña en celulares*/
  text-align: center;
}

header nav {
  background-color: var(--orange-soft);
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  position: relative;
}
.header--logo {
  margin: 0 auto;
}
.sidenav {
  background-color: var(--orange-soft);
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  z-index: 1;
}

.sidenav--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: center;
}

.sidenav--list a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 6rem;
}

#goback {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 25px;
  width: 27px;
  height: 27px;
  background-image: url(/Layout/icons/go_back.svg);
  background-size: cover;
}
.hamb_menu {
  display: inline-block;
  position: absolute;
  width: 30px;
  left: 0;
  top: calc(50% - 30px / 2);
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header--hero {
  min-width: 320px;
  height: 40%;
  width: 100%;
  align-self: center;
  margin-bottom: 400px;
}

.header--navbar,
.header--social-branding {
  display: none;
}

.header--title-container {
  width: 84.53%;
  min-width: 288px;
  max-width: 900px;
  height: 318px;
  text-align: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  position: absolute;
  top: 291px;
  background-image: url(/Layout/images/blob1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* backdrop-filter: blur(8px); */
}

h1 {
  width: 32.771rem;
  height: 18.9rem;
  vertical-align: middle;
  text-align: center;
  font-weight: 800;
  font-size: 2.65rem;
  position: relative;
  line-height: 3.6rem;
  color: var(--main-color);
  left: calc(50% - 330px / 2);
  top: 87.36px;
}

h1 span,
h2 span,
h3 span {
  color: var(--emphasis-orange);
}

.header--button {
  border: 3px solid #f29441;
  border-radius: 20px;

  text-decoration: none;
  color: var(--emphasis-orange);
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 9px 20px;
  position: relative;
  top: 6.5rem;
}
.about {
  background-color: var(--orange-soft);
  padding: 25px;
  margin-bottom: 15%;
  position: relative;
}

.badge {
  width: 70px;
  position: absolute;
  bottom: -45px;
  left: calc(50% - 70px);
}

.about .header--logo {
  margin-bottom: 0 auto;
}

.divider {
  position: absolute;
  width: 319.91px;
  height: 9px;
  left: calc(50% - 330px / 2);
  top: 95%;
}

main h2 {
  text-align: center;
  font-weight: 800;
  font-size: 1.97rem;
  line-height: 27px;
  color: var(--main-color);
  margin-bottom: 20px;
}

.feature--title {
  color: var(--main-color);
  margin: 0;
  font-size: 1.8rem;
}

.feature--container {
  width: 100%;
  display: flex;

  overflow-x: scroll;
  gap: 70px;
  padding: 0 40px;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.feature {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  margin-top: 80px;
  padding: 30px 0;
  position: relative;
  scroll-snap-align: center;
}
/* 
.feature:nth-child(2) {
  margin-left: -80px;
  background-color: red;
} */

.feature--img-container {
  width: 200px;
  height: 150px;
  background-image: url(/Layout/images/psico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 0 auto;
  position: absolute;
  left: calc(50% - 200px / 2);
  top: -80px;
  z-index: 2;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
  border: 3px solid var(--emphasis-orange);
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  top: 30px;
  color: var(--emphasis-orange);
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 9px 20px;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(242, 148, 65, 0.3);
}

.feature--description-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  align-content: center;
  padding: 50px;
  width: 100%;
  background-image: url(/Layout/images/blob2.svg);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  position: relative;
  /* left: -20px; */
  box-shadow: 4px 3px 12px rgba(39, 66, 89, 0.3);
}

.badge {
  width: 40px;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 20px);
}

.feature--description-container p,
.about p {
  font-size: 1.4em;
  line-height: 20px;
  /* margin: 10px; */
  text-align: left;
  font-weight: 700;
  align-self: center;
  color: var(--anotherEmphashis);
}

p span {
  color: var(--emphasis-orange);
  font-weight: 800;
}

footer {
  background-color: var(--orange-soft);
  padding: 15px;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer--item {
  text-align: center;
  margin: 10px;
}

.footer--item h3 {
  color: var(--emphasis-orange);
}

.footer--item li {
  color: var(--main-color);
  list-style: none;
}

@media (min-width: 425px) {
  .header--hero {
    margin-bottom: 200px;
  }
} ;
