@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
  .hero--img {
    margin-bottom: 10px;
    height: 550px;
  }

  .hero--title-container {
    top: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 20px;
    flex-direction: row-reverse;
    position: relative;
    justify-self: center;
  }
  .BigTitle {
    font-size: 3rem;
    margin-bottom: 50px;
  }

  .hero--img {
    height: 570px;
    border-radius: 30px 0 0 30px;
  }

  .hero--title-container {
    position: relative;
    align-self: center;
    top: calc(50% - 100px);
  }
}
