@import "./Vars.scss";
h2 {
    margin-top: 20px;
}

.about-us {
    padding: 20px;
}

.aboutus--text {
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: justify;
    background-image: url(../images/blob2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: $main-color;
}

@media screen and (min-width: 600px) {
    .aboutus--text {
        font-size: 2.2rem;
        line-height: 3.5rem;
    }
}

@media screen and (min-width: 1024px) {}