@import "./Vars.scss";

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px; /*Dimension mas pequeña en celulares*/
  text-align: center;
}

header nav {
  background-color: $orange-soft;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  position: relative;
}
