@import "./Vars.scss";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    width: 33rem;
    height: 19rem;
    vertical-align: middle;
    text-align: center;
    font-weight: 800;
    font-size: 2.7rem;
    position: relative;
    line-height: 3.8rem;
    color: $main-color;
    left: calc(50% - 330px / 2);
    top: 87.36px;
  }
}

.hero--img {
  min-width: 320px;
  height: 50%;
  width: 100%;
  align-self: center;
  margin-bottom: 400px;
}

.hero--title-container {
  width: 84.53%;
  min-width: 288px;
  max-width: 900px;
  height: 318px;
  text-align: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
  position: absolute;
  top: 291px;
  background-image: url(../images/blob1.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  /* backdrop-filter: blur(8px); */
}

.hero--button {
  border: 3px solid #f29441;
  border-radius: 20px;

  text-decoration: none;
  color: $emphasis-orange;
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: 9px 20px;
  position: relative;
  top: 6.5rem;
}
