@import "./Vars.scss";
.about {
  background-color: $orange-soft;
  padding: 25px;
  margin-bottom: 15%;
  position: relative;
}

.about .header--logo {
  margin-bottom: 0 auto;
}

.badge {
  width: 40px;
  position: absolute;
  bottom: -25px;
  left: calc(50% - 20px);
}

