@import "./Vars.scss";
header nav {
  background-color: $orange-soft;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  position: relative;
}
.hamb_menu {
  display: inline-block;
  position: absolute;
  width: 30px;
  left: 0;
  top: calc(50% - 30px / 2);
}
.header--navbar,
.navbar--social-branding {
  display: none;
}
.header--logo {
  margin: 0 auto;
}

.programs--list {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 3;
  left: calc(15% - 10px);
  top: 40px;
  background-color: $orange-soft;
  height: 100px;
  border-radius: 20px;
  li {
    margin-top: 12px;
  }
}

ul li a:hover {
  transition: 300ms;
  color: $emphasis-orange;
}
