@import "./Vars.scss";

.program {
  text-align: center;
  margin: 0 auto;
  color: $main-color;
  width: 70%;
  position: relative;
  border-radius: 30px;
  &--image {
    img {
      border-radius: 30px 30px 0 0;
      width: 98%;
      height: 100%;
      object-fit: contain;
    }
  }
  &--description {
    box-shadow: 0px 4px 4px rgba($color: $orange-soft, $alpha: 0.5);
    position: relative;
    top: -20px;
    border-radius: 30px;
    h3 {
      font-weight: 800;
      font-size: 1.8rem;
    }
    width: 100%;
    background-color: $orange-soft;
    padding: 30px;
    p {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
      line-height: 2.3rem;
    }
  }
}

.programs--description {
  padding: 20px;
  font-size: 1.8rem;
  color: $main-color;
  text-align: justify;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  .programs--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
