@import "./Vars.scss";
@media (min-width: 425px) {
  .hero--img {
    margin-bottom: 200px;
  }
} ;
@media screen and (min-width: 768px) {
  .about-us {
    padding: 100px;
  }
  .aboutus--text {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
  main {
    padding: 20px;
  }
  .hero--img {
    margin-bottom: 10px;
    height: 550px;
  }

  .hero--title-container {
    top: 150px;
  }

  .feature {
    width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 20px;
    flex-direction: row-reverse;
    position: relative;
    justify-self: center;
  }

  main h2 {
    font-size: 3rem;
    margin-bottom: 50px;
  }

  .hero--img {
    height: 470px;
    border-radius: 30px 0 0 30px;
  }

  .hero--title-container {
    position: relative;
    align-self: center;
    top: calc(50% - 100px);
  }

  .hamb_menu {
    display: none;
  }
  .header--logo {
    margin: 0;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .header--navbar,
  .navbar--social-branding {
    display: flex;
    list-style: none;
    font-weight: 800;
    font-size: 1.5rem;
    align-items: center;
    align-content: center;
  }
  li a {
    color: $main-color;
    text-decoration: none;
    margin: 0 20px;
  }

  footer {
    font-size: 2rem;
    justify-content: space-evenly;
  }
  .footer--item {
    font-weight: 600;
  }

  a img {
    width: 33px;
    height: 33px;
  }
} ;
